$tr-font-icon-file-name: 'TeamRubicon' !default;
$tr-font-icon-name: 'icomoon' !default;
$tr-font-icon-directory: '../fonts/' !default;

$tr-font-icon-mapping: (
  play: "\ea1c",
  google-plus: "\ea8c",
  facebook: "\ea91",
  instagram: "\ea92",
  youtube: "\ea9d",
  vimeo: "\eaa1",
  linkedin: "\eac9",
  twitter: "\e91f",
  cross:"\ea0f",
  Search: "\e900",
  Accomodations: "\e901",
  Alert: "\e902",
  angle-up:"\f106",
  angle-down:"\f107",
  Bulldozer: "\e903",
  Calendar: "\e904",
  Cash: "\e905",
  Checkmark: "\e906",
  Crate: "\e907",
  Donation: "\e908",
  Earthquake: "\e909",
  EstateGiving: "\e90a",
  FAQ: "\e90b",
  Fire: "\e90c",
  FirstAid: "\e90d",
  Flood: "\e90e",
  Globe: "\e90f",
  Gloves: "\e910",
  HomeSaved: "\e911",
  Humanitarian: "\e912",
  Hurricane: "\e913",
  Laptop: "\e914",
  LocalOp: "\e915",
  Meals: "\e916",
  Medical: "\e917",
  NatlOp: "\e918",
  pie-chart: "\e99a",
  Saw: "\e919",
  SocialMediaFundraising: "\e91a",
  Storm: "\e91b",
  Tools: "\e91c",
  Tornado: "\e91d",
  VetWellness: "\e91e"
  service-principles_accountability: "\e921",
  service-principles_collaborate: "\e922",
  service-principles_impartiality: "\e923",
  service-principles_innovation: "\e924",
  service-principles_tenacity: "\e925"
);


// helper mixin:
@mixin icon($key) {
   font-family: $tr-font-icon-name;
   content: map-get($tr-font-icon-mapping, #{$key});
 }
// USAGE:
/*
.my-class {
  :after {
   @include('pie-chart'); // will render a piechart
  }
}
*/

// icomoon-sassy setup:
@include icomoonInclude(#{$tr-font-icon-directory}#{$tr-font-icon-file-name});
// adds css classes to css based on mappings.
// usage in markup:
// <i class="icon-Search">
//
@include icomoonIcons($tr-font-icon-mapping);
