$tr-font-icon-file-name: 'TeamRubicon' !default;
$tr-font-icon-name: 'icomoon' !default;
$tr-font-icon-directory: '../fonts/' !default;

$tr-font-icon-mapping: (
  play: "\ea1c",
  google-plus: "\ea8c",
  facebook: "\ea91",
  instagram: "\ea92",
  youtube: "\ea9d",
  vimeo: "\eaa1",
  linkedin: "\eac9",
  twitter: "\e91f",
  cross:"\ea0f",
  Search: "\e900",
  Accomodations: "\e901",
  Alert: "\e902",
  angle-up:"\f106",
  angle-down:"\f107",
  Bulldozer: "\e903",
  Calendar: "\e904",
  Cash: "\e905",
  Checkmark: "\e906",
  Crate: "\e907",
  Donation: "\e908",
  Earthquake: "\e909",
  EstateGiving: "\e90a",
  FAQ: "\e90b",
  filter-grid: "\e927",
  filter-sliders: "\e926",
  Fire: "\e90c",
  FirstAid: "\e90d",
  Flood: "\e90e",
  Globe: "\e90f",
  Gloves: "\e910",
  HomeSaved: "\e911",
  Humanitarian: "\e912",
  Hurricane: "\e913",
  Laptop: "\e914",
  LocalOp: "\e915",
  Meals: "\e916",
  Medical: "\e917",
  NatlOp: "\e918",
  pie-chart: "\e99a",
  Saw: "\e919",
  service-principles_accountability: "\e921",
  service-principles_collaborate: "\e922",
  service-principles_impartiality: "\e923",
  service-principles_innovation: "\e924",
  service-principles_tenacity: "\e925",
  SocialMediaFundraising: "\e91a",
  Storm: "\e91b",
  Tools: "\e91c",
  Tornado: "\e91d",
  VetWellness: "\e91e",
  CHFP_Capstone:"\e928",
  CHFP_Mentorship: "\e929",
  CHFP_Self-Discovery: "\e92a",
  General_Birthday-Cake: "\e92d",
  General_House: "\e92c",
  Department_Comms: "\e92b",
  Department_Finance: "\e92e",
  Department_Logistics: "\e92f",
  Department_Membership: "\e930",
  Department_Planning: "\e932",
  Department_Tech: "\e933",
  Department_Training: "\e934",
  General_Airplane-Drop: "\e936",
  General_Airplane: "\e937",
  General_Debris-Removal: "\e93e",
  General_Delivery-Truck: "\e93f",
  General_Disaster-Mapping: "\e940",
  General_Drone-Fixed-Wing: "\e942",
  General_Drone: "\e943",
  General_Expedient-Home-Repair: "\e944",
  General_Fitness-Events: "\e945",
  General_Flowers: "\e946",
  General_Fob-Tent: "\e947",
  General_Food-Aid: "\e948",
  General_Hours-Time: "\e949",
  General_Laptop: "\e94c",
  General_Money-Saved: "\e952",
  General_Mouse-Cursor: "\e953",
  General_Person: "\e954",
  General_PPE-HazardMit: "\e955",
  General_Satellite: "\e956",
  General_Social-Events-BBQ: "\e957",
  General_Social-Events-Beer: "\e958",
  General_Speaking-Engagements: "\e959",
  General_Volunteers: "\e95a",
  General_Wedding-Rings: "\e95b",
  General_WIFI: "\e95c",
  General_Work-Boot: "\e95d",
  General_MapPin: "\e931",
  tough-mudder_logo_no-flame: "\e965",
  Training_ASIST: "\e966",
  Training_Damage-Assessments: "\e967",
  Training_Disaster-Tech: "\e968",
  Training_Incident-Management: "\e96a",
  Training_Instructor: "\e96b",
  Training_Operational-Site-Safety: "\e96c",
  Training_Sawyer: "\e96d"
);


// helper mixin:
@mixin icon($key) {
   font-family: $tr-font-icon-name;
   content: map-get($tr-font-icon-mapping, #{$key});
 }
// USAGE:
/*
.my-class {
  :after {
   @include('pie-chart'); // will render a piechart
  }
}
*/

// icomoon-sassy setup:
@include icomoonInclude(#{$tr-font-icon-directory}#{$tr-font-icon-file-name});
// adds css classes to css based on mappings.
// usage in markup:
// <i class="icon-Search">
//
@include icomoonIcons($tr-font-icon-mapping);
