@font-face {
  font-family: 'TeamRubicon';
  src:  url('fonts/TeamRubicon.eot?e1ne1q');
  src:  url('fonts/TeamRubicon.eot?e1ne1q#iefix') format('embedded-opentype'),
    url('fonts/TeamRubicon.ttf?e1ne1q') format('truetype'),
    url('fonts/TeamRubicon.woff?e1ne1q') format('woff'),
    url('fonts/TeamRubicon.svg?e1ne1q#TeamRubicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TeamRubicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pie-chart:before {
  content: "\e99a";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-google-plus:before {
  content: "\ea8c";
}
.icon-google-plus-old:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-facebook-old:before {
  content: "\ea93";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-instagram-old:before {
  content: "\ea94";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube-old:before {
  content: "\ea9e";
}
.icon-vimeo:before {
  content: "\eaa1";
}
.icon-vimeo-old:before {
  content: "\eaa2";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin-old:before {
  content: "\eaca";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-twitter-old:before {
  content: "\e920";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-ServicePrinciples_Accountability .path1:before {
  content: "\e921";
  color: rgb(29, 29, 27);
}
.icon-ServicePrinciples_Accountability .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ServicePrinciples_Accountability .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ServicePrinciples_Accountability .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ServicePrinciples_Collaborate:before {
  content: "\e925";
}
.icon-ServicePrinciples_Impartiality:before {
  content: "\e926";
}
.icon-ServicePrinciples_Innovation:before {
  content: "\e927";
}
.icon-ServicePrinciples_Tenacity:before {
  content: "\e928";
}
.icon-Search:before {
  content: "\e900";
}
.icon-Accomodations:before {
  content: "\e901";
}
.icon-Alert:before {
  content: "\e902";
}
.icon-Bulldozer:before {
  content: "\e903";
}
.icon-Calendar:before {
  content: "\e904";
}
.icon-Cash:before {
  content: "\e905";
}
.icon-Checkmark:before {
  content: "\e906";
}
.icon-Crate:before {
  content: "\e907";
}
.icon-Donation:before {
  content: "\e908";
}
.icon-Earthquake:before {
  content: "\e909";
}
.icon-EstateGiving:before {
  content: "\e90a";
}
.icon-FAQ:before {
  content: "\e90b";
}
.icon-Fire:before {
  content: "\e90c";
}
.icon-FirstAid:before {
  content: "\e90d";
}
.icon-Flood:before {
  content: "\e90e";
}
.icon-Globe:before {
  content: "\e90f";
}
.icon-Gloves:before {
  content: "\e910";
}
.icon-HomeSaved:before {
  content: "\e911";
}
.icon-Humanitarian:before {
  content: "\e912";
}
.icon-Hurricane:before {
  content: "\e913";
}
.icon-Laptop:before {
  content: "\e914";
}
.icon-LocalOp:before {
  content: "\e915";
}
.icon-Meals:before {
  content: "\e916";
}
.icon-Medical:before {
  content: "\e917";
}
.icon-NatlOp:before {
  content: "\e918";
}
.icon-Saw:before {
  content: "\e919";
}
.icon-SocialMediaFundraising:before {
  content: "\e91a";
}
.icon-Storm:before {
  content: "\e91b";
}
.icon-Tools:before {
  content: "\e91c";
}
.icon-Tornado:before {
  content: "\e91d";
}
.icon-VetWellness:before {
  content: "\e91e";
}
