@font-face {
  font-family: 'TeamRubicon';
  src:  url('fonts/TeamRubicon.eot?70gw43');
  src:  url('fonts/TeamRubicon.eot?70gw43#iefix') format('embedded-opentype'),
    url('fonts/TeamRubicon.ttf?70gw43') format('truetype'),
    url('fonts/TeamRubicon.woff?70gw43') format('woff'),
    url('fonts/TeamRubicon.svg?70gw43#TeamRubicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TeamRubicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-General_Birthday-Cake:before {
  content: "\e92d";
}
.icon-General_House:before {
  content: "\e92c";
}
.icon-CHFP_Capstone:before {
  content: "\e928";
}
.icon-CHFP_Mentorship:before {
  content: "\e929";
}
.icon-CHFP_Self-Discovery:before {
  content: "\e92a";
}
.icon-Department_Comms:before {
  content: "\e92b";
}
.icon-Department_Finance:before {
  content: "\e92e";
}
.icon-Department_Logistics:before {
  content: "\e92f";
}
.icon-Department_Membership:before {
  content: "\e930";
}
.icon-Department_Planning:before {
  content: "\e932";
}
.icon-Department_Tech:before {
  content: "\e933";
}
.icon-Department_Training:before {
  content: "\e934";
}
.icon-General_Airplane-Drop:before {
  content: "\e936";
}
.icon-General_Airplane:before {
  content: "\e937";
}
.icon-General_Debris-Removal:before {
  content: "\e93e";
}
.icon-General_Delivery-Truck:before {
  content: "\e93f";
}
.icon-General_Disaster-Mapping:before {
  content: "\e940";
}
.icon-General_Drone-Fixed-Wing:before {
  content: "\e942";
}
.icon-General_Drone:before {
  content: "\e943";
}
.icon-General_Expedient-Home-Repair:before {
  content: "\e944";
}
.icon-General_Fitness-Events:before {
  content: "\e945";
}
.icon-General_Flowers:before {
  content: "\e946";
}
.icon-General_Fob-Tent:before {
  content: "\e947";
}
.icon-General_Food-Aid:before {
  content: "\e948";
}
.icon-General_Hours-Time:before {
  content: "\e949";
}
.icon-General_Laptop:before {
  content: "\e94c";
}
.icon-General_Money-Saved:before {
  content: "\e952";
}
.icon-General_Mouse-Cursor:before {
  content: "\e953";
}
.icon-General_Person:before {
  content: "\e954";
}
.icon-General_PPE-HazardMit:before {
  content: "\e955";
}
.icon-General_Satellite:before {
  content: "\e956";
}
.icon-General_Social-Events-BBQ:before {
  content: "\e957";
}
.icon-General_Social-Events-Beer:before {
  content: "\e958";
}
.icon-General_Speaking-Engagements:before {
  content: "\e959";
}
.icon-General_Volunteers:before {
  content: "\e95a";
}
.icon-General_Wedding-Rings:before {
  content: "\e95b";
}
.icon-General_WIFI:before {
  content: "\e95c";
}
.icon-General_Work-Boot:before {
  content: "\e95d";
}
.icon-tough-mudder_logo_no-flame:before {
  content: "\e965";
}
.icon-Training_ASIST:before {
  content: "\e966";
}
.icon-Training_Damage-Assessments:before {
  content: "\e967";
}
.icon-Training_Disaster-Tech:before {
  content: "\e968";
}
.icon-Training_Incident-Management:before {
  content: "\e96a";
}
.icon-Training_Instructor:before {
  content: "\e96b";
}
.icon-Training_Operational-Site-Safety:before {
  content: "\e96c";
}
.icon-Training_Sawyer:before {
  content: "\e96d";
}
.icon-Saw:before {
  content: "\e919";
}
.icon-filter-sliders:before {
  content: "\e926";
}
.icon-filter-grid:before {
  content: "\e927";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-google-plus:before {
  content: "\ea8c";
}
.icon-google-plus-old:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-facebook-old:before {
  content: "\ea93";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-instagram-old:before {
  content: "\ea94";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube-old:before {
  content: "\ea9e";
}
.icon-vimeo:before {
  content: "\eaa1";
}
.icon-vimeo-old:before {
  content: "\eaa2";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin-old:before {
  content: "\eaca";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-twitter-old:before {
  content: "\e920";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-service-principles_accountability:before {
  content: "\e921";
}
.icon-service-principles_collaborate:before {
  content: "\e922";
}
.icon-service-principles_impartiality:before {
  content: "\e923";
}
.icon-service-principles_innovation:before {
  content: "\e924";
}
.icon-service-principles_tenacity:before {
  content: "\e925";
}
.icon-Search:before {
  content: "\e900";
}
.icon-Accomodations:before {
  content: "\e901";
}
.icon-Alert:before {
  content: "\e902";
}
.icon-Bulldozer:before {
  content: "\e903";
}
.icon-Crate:before {
  content: "\e907";
}
.icon-Donation:before {
  content: "\e908";
}
.icon-Earthquake:before {
  content: "\e909";
}
.icon-EstateGiving:before {
  content: "\e90a";
}
.icon-FAQ:before {
  content: "\e90b";
}
.icon-Fire:before {
  content: "\e90c";
}
.icon-FirstAid:before {
  content: "\e90d";
}
.icon-Flood:before {
  content: "\e90e";
}
.icon-Globe:before {
  content: "\e90f";
}
.icon-Gloves:before {
  content: "\e910";
}
.icon-HomeSaved:before {
  content: "\e911";
}
.icon-Humanitarian:before {
  content: "\e912";
}
.icon-Hurricane:before {
  content: "\e913";
}
.icon-Laptop:before {
  content: "\e914";
}
.icon-LocalOp:before {
  content: "\e915";
}
.icon-Meals:before {
  content: "\e916";
}
.icon-Medical:before {
  content: "\e917";
}
.icon-NatlOp:before {
  content: "\e918";
}
.icon-SocialMediaFundraising:before {
  content: "\e91a";
}
.icon-Storm:before {
  content: "\e91b";
}
.icon-Tools:before {
  content: "\e91c";
}
.icon-Tornado:before {
  content: "\e91d";
}
.icon-VetWellness:before {
  content: "\e91e";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-Calendar:before {
  content: "\e904";
}
.icon-Cash:before {
  content: "\e905";
}
.icon-Checkmark:before {
  content: "\e906";
}
